/*
Default Styles
 */
body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;	
	margin: 0; 
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
.container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.text-center {
	text-align: center;
}

/* BTN */
.btn, .btn:focus {
    background-color: #ededed;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s all ease;
}
.btn:hover {
    background-color: #999;
    color: #fff;    
}
/* BTN */

/* POPUP */
.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
}
.popup-container.popup-visible {
    top: 0%;
}
.popup-wrapper {
    max-width: 500px;
    width: 100%;
    padding: 30px 15px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}
.popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.popup-close img {
    width: 25px;
}
/* POPUP */

/* FORM */
.form-item {
    padding-bottom: 20px;
    width: 50%;
    float: left;
}
.form-item label {
    display: inherit;
    padding-bottom: 5px;
}
.form-item input {
    outline: none;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #999;
    font-family: 'Quicksand', sans-serif;
}
.form-item input.field-error {
    border: 1px solid #FF5722;
}
/* FORM */

/* CONTACT LISTING */
.contact_listing {
    padding: 20px 0px;
}
ul.list_head {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
ul.list_head li {
    float: left;
    width: 16.66%;
    background-color: #ededed;
    padding: 12px 0px;
}
ul.list_body, ul.list_body li ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;   
}
ul.list_body > li:nth-child(even) {
    background-color: #fafafa;
}
ul.list_body li ul li{
    float: left;
    width: 16.66%;
    padding: 12px 0px;
}
.edit-list, .delete-list {
    display: inline-block;
    margin: 0 5px;
}
.edit-list img, .delete-list img {
    width: 20px;
}
.before_contact_listing {
    overflow: hidden;
    padding-top: 20px;
}
.number_select {
    float: left;
}
.number_select select{
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
.after_contact_listing {
    overflow: hidden;
    margin-bottom: 50px;
}
.count_wrapper {
    float: left;
}
.listing_pagination {
    float: right;
}
.listing_pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.listing_pagination ul li {
    display: inline-block;
    margin: 0px 5px;
}
.listing_pagination ul li a {
    text-decoration: none;
    color: #000;
    border: 1px solid transparent;
    padding: 2px 6px;
    display: block;
    transition: 0.3s all ease;
}
.listing_pagination ul li a:hover, .listing_pagination ul li a.active {
    border-color: #000;
}
/* CONTACT LISTING */